In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("meta.csv")
df

/tmp/ipykernel_21144/1245727704.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("meta.csv")

,image,name,latitude,longitude,zoom,timestamp,map,rapid_class,uhj_class,labeled_by_human,mask_created_on,rapid_labeled_on,uhj_labeled_on,in_database
0,h010100_-66.62943937_45.9581267_z19.png,h010100,45.958127,-66.629439,19,1.740791e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,h010100_-66.66041054_45.9692858_z19.png,h010100,45.969286,-66.660411,19,1.740791e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,h010100_-66.69852804_45.96917684_z19.png,h010100,45.969177,-66.698528,19,1.740791e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,h010100_-66.73543945_45.97140579_z19.png,h010100,45.971406,-66.735439,19,1.740791e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,h010100_-66.76868564_45.9831604_z19.png,h010100,45.983160,-66.768686,19,1.740791e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250521,Yellow_Bank_Rapid_-105.72871_36.4555314_z18,Yellow_Bank_Rapid,36.455531,-105.72871,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
250522,Zigzag_Rapids_-116.7208931_45.8258554_z18,Zigzag_Rapids,45.825855,-116.7208931,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
250523,Zoar_Gap_Rapids_-72.9556181_42.6549494_z18,Zoar_Gap_Rapids,42.654949,-72.9556181,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
250524,Zoom_Flume_-106.0510567_38.6984603_z18,Zoom_Flume,38.698460,-106.0510567,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
250525,Zwick's_Back_Ender_-82.345863_35.2793118_z18,Zwick's_Back_Ender,35.279312,-82.345863,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [3]:
# df["user"] = np.full(len(df), np.nan)
# df.to_csv("meta.csv", index=False)

In [4]:
df[df["map"] == 1].head(10)

,image,name,latitude,longitude,zoom,timestamp,map,rapid_class,uhj_class,labeled_by_human,mask_created_on,rapid_labeled_on,uhj_labeled_on,in_database
241331,100344_-80.64957533819722_38.295822548400395_z18,100344,38.295823,-80.64957533819722,18,1.740165e+09,1.0,1.0,NaN,1.0,1.742759e+09,1.742833e+09,NaN,1.0
241872,108548_-80.0508947356106_39.132116081787906_z18,108548,39.132116,-80.0508947356106,18,1.740165e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
241987,110770_-115.47423427934945_46.22639709121039_z18,110770,46.226397,-115.47423427934945,18,1.740166e+09,1.0,0.0,0.0,1.0,1.742835e+09,1.742833e+09,1.742833e+09,1.0
242091,111864_-115.9404376574618_46.140174014095535_z18,111864,46.140174,-115.9404376574618,18,1.740166e+09,1.0,0.0,0.0,1.0,NaN,NaN,NaN,1.0
242544,117536_-116.47257265465163_45.625212843069484_z18,117536,45.625213,-116.47257265465163,18,1.740166e+09,1.0,1.0,NaN,1.0,1.742669e+09,1.742669e+09,NaN,1.0
242699,11895_-66.87947687730303_45.45467395412478_z18,11895,45.454674,-66.87947687730303,18,NaN,1.0,0.0,0.0,1.0,1.742836e+09,1.742833e+09,1.742833e+09,1.0
243980,160722_-74.5218190967896_43.32463581087652_z18,160722,43.324636,-74.5218190967896,18,1.740167e+09,1.0,0.0,0.0,1.0,1.742836e+09,1.742833e+09,1.742833e+09,1.0
244303,16783_-78.41478899613229_39.43015062768546_z18,16783,39.430151,-78.41478899613229,18,NaN,1.0,0.0,0.0,1.0,NaN,NaN,NaN,1.0
244328,17774_-98.39326463104761_30.285151919658084_z18,17774,30.285152,-98.39326463104761,18,NaN,1.0,1.0,NaN,1.0,1.742835e+09,1.742833e+09,NaN,1.0
244356,18714_-74.19852830193601_43.827213078638096_z18,18714,43.827213,-74.19852830193601,18,NaN,1.0,1.0,NaN,1.0,1.742835e+09,1.742833e+09,NaN,1.0

In [5]:
rapids = df[df.rapid_class == 1]
rapids.head(10)

,image,name,latitude,longitude,zoom,timestamp,map,rapid_class,uhj_class,labeled_by_human,mask_created_on,rapid_labeled_on,uhj_labeled_on,in_database
241331,100344_-80.64957533819722_38.295822548400395_z18,100344,38.295823,-80.64957533819722,18,1.740165e+09,1.0,1.0,NaN,1.0,1.742759e+09,1.742833e+09,NaN,1.0
242464,117352_-116.57438036282686_45.99157552861192_z18,117352,45.991576,-116.57438036282686,18,1.740166e+09,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0
242544,117536_-116.47257265465163_45.625212843069484_z18,117536,45.625213,-116.47257265465163,18,1.740166e+09,1.0,1.0,NaN,1.0,1.742669e+09,1.742669e+09,NaN,1.0
242549,117541_-116.48732060655176_45.649083934271715_z18,117541,45.649084,-116.48732060655176,18,1.740166e+09,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0
243667,151592_-81.02121560690141_36.54319682475918_z18,151592,36.543197,-81.021215606901407,18,1.740167e+09,0.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0
243773,153370_-115.3040308314654_46.350906853054155_z18,153370,46.350907,-115.3040308314654,18,1.740167e+09,0.0,1.0,NaN,1.0,1.742759e+09,1.742669e+09,NaN,1.0
244299,16671_-81.40278584242023_36.349441664411756_z18,16671,36.349442,-81.40278584242023,18,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0
244328,17774_-98.39326463104761_30.285151919658084_z18,17774,30.285152,-98.39326463104761,18,NaN,1.0,1.0,NaN,1.0,1.742835e+09,1.742833e+09,NaN,1.0
244356,18714_-74.19852830193601_43.827213078638096_z18,18714,43.827213,-74.19852830193601,18,NaN,1.0,1.0,NaN,1.0,1.742835e+09,1.742833e+09,NaN,1.0
244365,18976_-95.67698328859714_31.348251404674606_z18,18976,31.348251,-95.67698328859714,18,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0

In [6]:
images = df.image
rapids_len = len(rapids)
a = np.array(["carl", "christy", "julie"])
partition = rapids_len / len(a)

for i in range(rapids_len):
    # print(images[i])
    name_i = int(np.floor(i / partition))
    # print(a[name_i])

    df.loc[(df.image == images[i]), ["user"]] = a[name_i]
df.head(10)

,image,name,latitude,longitude,zoom,timestamp,map,rapid_class,uhj_class,labeled_by_human,mask_created_on,rapid_labeled_on,uhj_labeled_on,in_database,user
0,h010100_-66.62943937_45.9581267_z19.png,h010100,45.958127,-66.629439,19,1.740791e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,carl
1,h010100_-66.66041054_45.9692858_z19.png,h010100,45.969286,-66.660411,19,1.740791e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,carl
2,h010100_-66.69852804_45.96917684_z19.png,h010100,45.969177,-66.698528,19,1.740791e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,carl
3,h010100_-66.73543945_45.97140579_z19.png,h010100,45.971406,-66.735439,19,1.740791e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,carl
4,h010100_-66.76868564_45.9831604_z19.png,h010100,45.983160,-66.768686,19,1.740791e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,carl
5,h010100_-66.8048601_45.98998168_z19.png,h010100,45.989982,-66.80486,19,1.740791e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,carl
6,h010100_-66.81998632_45.96478931_z19.png,h010100,45.964789,-66.819986,19,1.740790e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,carl
7,h010100_-66.82812377_45.98581_z19.png,h010100,45.985810,-66.828124,19,1.740790e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,carl
8,h010100_-66.83641444_46.02925737_z19.png,h010100,46.029257,-66.836414,19,1.740791e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,carl
9,h010100_-66.83680716_45.99949703_z19.png,h010100,45.999497,-66.836807,19,1.740791e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,carl

In [7]:
# from random import seed, randint

# seed(0)
# fluh = df.loc[np.array([randint(0, len(df)) for _ in range(50)])].reset_index().copy()
# fluh.user = np.full(len(fluh), "fluh")
# fluh

In [8]:
# from random import seed, randint, uniform

# seed(0)
# N = 50

# df_test = pd.DataFrame(columns=df.columns)
# df_test["image"] = [f"test_image{i+1}" for i in range(N)]
# df_test["name"] = [f"image{i+1}" for i in range(N)]
# df_test["latitude"] = [uniform(-90, 90) for _ in range(N)]
# df_test["longitude"] = [uniform(-180, 180) for _ in range(N)]


# df_test

In [19]:
import re
from glob import glob

images = glob("../folder/*")
images2 = np.array([re.split(r'[/\\]', image)[-1].rsplit('.', 1)[0] for image in images])

fluh = df[df.image.isin(images2)].copy()
fluh.user = np.full(len(fluh), "fluh")
fluh.name = [f"test_{name}" for name in fluh.name]
fluh.in_database = np.zeros(len(fluh))
fluh.drop(columns=["in_database"], inplace=True)
fluh.to_csv("fluh.csv", index=False)